body {
    background-color: #d5c9e2;
    font-family: Tahoma;
}

.text {
    font-family: Tahoma;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

/* unvisited link */

a:link {
    color: #036172;
}

/* visited link */

a:visited {
    color: #036172;
}

/* mouse over link */

a:hover {
    color: #000;
}

/* selected link */

a:active {
    color: #000;
}