/*fonts added*/

@font-face {
    font-family: Arapey;
    src: url(Arapey-Regular.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(Roboto-Light.ttf);
}

body {
    background-color: #C8D5CC;
    font-family: RobotoLight;
}

/*Text CSS*/

article {
    border: #000000;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
    width: 50%;
}

.text {
    color: #000000;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-family: RobotoBlack;
    font-weight: bold;
    color: #6b1002;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    margin: 5%;
}

h3 {
    font-size: 15px;
    margin: 5%;
    font-family: RobotoBlack;
}

h4 {
    font-size: 15px;
    text-align: right;
    padding-right: 20px;
}

/*Links CSS*/

/* unvisited link */

a:link {
    color: #6b1002;
}

/* visited link */

a:visited {
    color: #6b1002;
}

/* mouse over link */

a:hover {
    color: #000;
}

/* selected link */

a:active {
    color: #000;
}

/*Images CSS*/

.image {
    margin-top: 10%;
    margin-bottom: 10%;
}

.image2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Overlay Popup Menu CSS*/

.menuPosition {
    position: absolute;
    top: 45px;
    right: 50px;
    cursor: pointer;
}

.span {
    display: inline-block
}

.closebtn {
    color: #6b1002;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: #C8D5CC;
    /* Black fallback color */
    background-color: #C8D5CC;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 5%;
    /* 25% from the top */
    width: 80%;
    /* 100% width */
    text-align: right;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 70px;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.line-1 {
    position: relative;
    top: 50%;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 100%;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Typewriter Animation CSS */

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 12em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

/*Media Query CSS*/

@media screen and (min-width: 200px) {
    .image {
        width: 100%;
    }
    .h1 {
        font-size: 20px;
    }
    .h2 {
        width: 100%;
    }
    .h3 {
        width: 100%;
    }
}

@media screen and (min-width: 400px) {
    /* For tablets: */
    .image {
        width: 100%;
    }
    .h1 {
        font-size: 30px;
    }
    .h2 {
        width: 100%;
    }
    .h3 {
        width: 100%;
    }
}

@media screen and (min-width: 767px) {
    /* For desktop: */
    .image {
        width: 100%;
    }
    .h1 {
        font-size: 40px;
    }
    .h2 {
        width: 200%;
    }
    .h3 {
        width: 200%;
    }
}

@media screen and (min-width: 900px) {
    /* For desktop: */
    .image {
        width: 100%;
    }
    .h1 {
        font-size: 40px;
    }
    .h2 {
        width: 150%;
    }
    .h3 {
        width: 150%;
    }
}